.Container {
	margin-top: 20px;
	border-radius: 4px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
	font-family: Verdana, Geneva, Tahoma, sans-serif; 
	padding: 0px !important;
}

.Title {
	background-color: #5514b4;
	color: #fff;
	height: 40px;
	line-height: 40px; 
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-size: 1.8vh;
}

.DropDown, .DropDown:hover, .DropDown:active, .DropDown:focus{
	width: 140px;
	background-color: #5514b4 !important;
}

.Button, .Button:hover, .Button:active, .Button:focus {
	background-color: #5514b4 !important;
}